:root {
  --primary: rgb(26, 26, 122);
  --secondary: rgb(224, 101, 0);
  --secondary-darker: rgb(253, 120, 11);
  --dark: rgb(51, 51, 51);
  --light-text: rgb(240, 240, 240);
  --dark-text: rgb(0, 0, 0);
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  color: var(--light-text);
  font-size: 18px;
}

body.no-scroll {
  overflow: hidden;
}

body.stop-transition #off-screen {
  transition: none;
}

body,
h1,
h2,
h3,
p,
hr {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: auto;
  overflow: hidden;
}

#json {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  height: 6px;
  background-color: var(--primary);
  display: none;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: var(--secondary);
  border: none;
  color: var(--light-text);
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
}

button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
  background-color: var(--secondary-darker);
}

a {
  font-style: normal;
  text-decoration: none;
}

h1 {
  font-size: 2.8em;
  font-weight: normal;
}

.white {
  background-color: white !important;
  color: var(--dark-text) !important;
}

/* SOCIALS ASIDE */
#socials {
  background-color: white;
  border: 10px var(--primary);
  border-style: solid solid solid none;
  width: 90px;
  height: 250px;
  position: fixed;
  top: calc(50vh - 125px);
  border-radius: 0 10px 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#socials img {
  width: 60px;
}

/* HEADER */
#page-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

#page-header .left,
#page-header .right {
  display: flex;
  align-items: center;
}

#page-header .left {
  padding-right: 30px;
}

#page-header .right {
  text-align: right;
}

#page-header .right address {
  margin-right: 10px;
}

#page-header .call {
  font-size: 1.1em;
  color: var(--dark-text);
}

/* NAV */
#page-nav ul {
  background-color: var(--primary);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  overflow: hidden;
}

#page-nav li {
  display: inline;
}

#page-nav li a {
  color: white;
  padding: 11px 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#page-nav li a:hover {
  background-color: var(--secondary);
}

/* OFFSCREEN NAV */
#off-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#off-screen .nav-body {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  width: 100vw;
  height: 100vh;
  padding: 0;
  background-color: var(--primary);
  margin: 0;
  overflow: hidden;
  -webkit-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

#off-screen .nav-body.open {
  transform-origin: 0 0;
  transform: translateY(0);
}

/* #off-screen ul {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 100px;
  width: 260px;
}

#off-screen li {
  text-align: right;
}

#off-screen li a {
  color: white;
  display: block;
  padding: 11px;
  text-decoration: none;
  text-transform: uppercase;
} */

#off-screen ul {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 100px;
}

#off-screen li {
  text-align: right;
  display: block;
  margin: 22px 0;
}

#off-screen li a {
  color: white;
  padding: 11px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
}

#off-screen li a:hover {
  background-color: var(--secondary);
}

/* HAMBURGER */
.hamburger {
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  margin-right: 3px;
  z-index: 1;
}

.hamburger .bar {
  display: block;
  width: 35px;
  height: 5px;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

.hamburger.active .bar {
  background-color: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-11px) rotate(-45deg);
}

/* SHOWCASE */
#showcase {
  background-color: black;
  background: url("../img/showcase_test.png") 50% -10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
}

#showcase h1 {
  color: white;
  line-height: 1.3;
  margin-bottom: 5px;
}

#showcase h1,
#showcase p {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.63);
}

/* MAIN */
#main {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  color: black;
  padding: 80px;
}

/* CONTACT US */
#contact-us {
  background-color: var(--primary);
  text-align: center;
}

#contact-us label {
  margin-right: 5px;
}

#contact-us form {
  padding: 8px 20px;
}

#contact-us a {
  color: white;
  text-decoration: underline;
}

/* BOXES */
#boxes {
  color: var(--dark-text);
  margin: 60px 0;
}

#boxes .container {
  display: flex;
  justify-content: center;
  text-align: center;
}

#boxes img {
  width: 110px;
}

.box {
  padding: 0 20px;
}

/* ABOUT */
.about {
  background-color: var(--dark);
}
.about .container {
  display: flex;
  padding: 30px 0;
}

.about .left,
.about .right {
  width: 50%;
}

.about .left {
  padding-right: 20px;
}

.about h1 {
  font-size: 2.5rem;
}

.about h2,
.about p {
  margin-bottom: 20px;
}

.about .single-img {
  width: 620px;
  height: 620px;
  object-fit: cover;
}

.about .dual-img {
  width: 620px;
  height: 350px;
  object-fit: cover;
  margin-block: 10px;
}

/* CONTACT FORM */
#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact-form > input,
textarea {
  margin-block: 3px;
  font-size: medium;
}

.google-maps {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* REVIEWS */

#review-scroller {
  color: var(--dark-text);
}

/* FOOTER */
footer {
  background-color: var(--primary);
}

footer .container {
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
}

footer .left,
footer .right {
  flex-grow: 1;
  flex-basis: 0;
}

footer .left {
  display: flex;
  margin: 30px 0 0 30px;
}

footer .right {
  text-align: right;
  margin: 30px 30px 0 0;
}

footer .left div {
  margin-right: 80px;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li a {
  color: white;
  font-size: smaller;
}

footer #flame-droplet {
  width: 130px;
}

footer .img-link {
  width: 50px;
}

/* MEDIA */

@media only screen and (max-width: 1260px) {
  .container {
    width: 95%;
  }
}
@media only screen and (max-width: 900px) {
  hr {
    display: block;
  }

  .hamburger {
    display: block;
  }

  #page-header .right address,
  #page-header .right img {
    display: none;
  }

  #page-header .logo {
    width: 200px;
  }

  #page-nav {
    display: none;
  }

  #off-screen {
    display: block;
  }

  #showcase {
    background-size: 3500px;
  }

  footer #flame-droplet {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  body {
    font-size: 18px;
  }

  h1 {
    font-size: calc(2em + 2vw);
  }

  button,
  input[type="button"],
  input[type="submit"] {
    display: block;
    width: 100%;
  }

  #showcase {
    height: 400px;
    background-size: 3000px;
  }

  #boxes .box {
    padding: 10px;
  }

  #boxes .container,
  .about .container {
    display: block;
  }

  .about .left,
  .about .right {
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
  }

  .about .right {
    text-align: center;
  }
  .about img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .about .dual-img:last-of-type {
    display: none;
  }

  footer .left,
  footer .right {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }

  footer .container,
  footer .left {
    display: block;
  }

  footer .left,
  footer .left div {
    text-align: left;
    margin: 0 0 10px 0;
  }

  footer .right {
    text-align: center;
  }

  footer .left ul {
    columns: 3;
  }
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 15px;
  }

  footer .left ul {
    columns: 2;
  }
}

@media only screen and (max-width: 300px) {
  body {
    font-size: 5vw;
  }
}
